:root {
    padding: 0;
}
#controls {
    position: sticky;
    bottom: 0;
    background: transparent;
    color: black;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #ccc;
}

button.sort {
    font-size: 0.9rem;
}

#controls .selected {
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    #controls {
        /* background-color: black; */
        color: white;
    }
}
