#sidebar {
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 1rem 0;
    background: #f8f8f8;
    position: sticky;
    top: 0;
    height: 100vh;
    font-size: 1em;
    color: black;
    display: flex;
    flex-direction: column;
}

#sidebar h1 {
    padding-left: 1rem;
}

#sidebar #search {
    max-width: 100%;
    margin-bottom: 1rem;
}

#playlist-nav {
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 75vh;
    overflow-y: scroll;
}

#playlist-nav .sticky {
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    background: black;
    color: white;
}

#playlist-nav li:hover,
#playlist-nav li:hover a {
    background: #eeddee;
    color: magenta;
    cursor: pointer;
}

#playlist-nav li {
    border-bottom: thin solid transparent;
    max-height: 4rem;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
#playlist-nav li.active {
    border-bottom: thin solid magenta;
}

#playlist-nav li img {
    display: none;
}
#playlist-nav li:hover img {
    /* filter: invert(); */
    display: inline;
}

#playlist-nav li {
    padding: 0 1rem;
}

#playlist-nav img {
    max-height: 1rem;
}

@media (prefers-color-scheme: dark) {
    #sidebar {
        background-color: black;
        color: white;
    }
}
