#song-list {
    border-top: 1px solid #eeddee;
    /* border-right: 1px solid #ddd; */
}
.song-row {
    padding: 0.5rem;
    border-bottom: 1px solid #eeddee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-row:hover {
    background: #eeddee;
    color: magenta;
    cursor: pointer;
}
.song-row.selected {
    color: magenta;
}
.song-row:active {
    opacity: 0.6;
}
.song-meta {
    flex: 1;
}
.heart {
    cursor: pointer;
    color: #ccc;
}
.heart.favorited {
    color: #ff00ff;
}

.start {
    height: 2rem;
    width: 2rem;
    align-content: center;
}
.end div {
    text-align: center;
}

#song-list img {
    max-height: 1rem;
}
