#song-list {
    border-top: 1px solid #eeddee;
}
.song-row {
    padding: 0.5rem;
    border-bottom: 1px solid #eeddee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-row:hover {
    background: #eeddee;
    color: magenta;
    cursor: pointer;
}

.start:hover .hover,
.start .normal {
    display: inline;
}
.start:hover .normal,
.start .hover {
    display: none;
}

.song-row.selected {
    color: magenta;
    border-color: magenta;
}
.song-row:active {
    opacity: 0.6;
}
.song-meta {
    flex: 1;
}
.heart {
    cursor: pointer;
    color: #ccc;
}
.heart.favorited {
    color: #ff00ff;
}

.start {
    height: 2rem;
    width: 3rem;
    align-content: center;
}
.fav {
    padding: 0 1rem;
    width: 3rem;
}
.fav:hover img {
    filter: invert();
}
.fav div {
    text-align: center;
}

#song-list img {
    max-height: 1rem;
}

.menu {
    padding: 0 1rem;
    width: 3rem;
}

.menu:hover .hover,
.menu .normal {
    display: inline;
}
.menu:hover .normal,
.menu .hover {
    display: none;
}
